<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>添加用户信息</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>使用了模板引擎，可以直接看到我</h1>
    <form action="http://127.0.0.1:3000/addUser" method="GET">
        <h1>请输入用户信息：</h1>
        <div>
            <span>用户名：</span>
            <input type="text" name="name" placeholder="用户名">
        </div>
        <div>
            <span>年龄：</span>
            <input type="text" name="age" placeholder="年龄">
        </div>
        <div>
            <span>性别：</span>
            <input type="text" name="sex" placeholder="性别">
        </div>
        <div>
            <input type="submit" value="提交">
        </div>
    
    </form>
</body>
</html>